@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 17vh;
    /* border: 1px solid red; */
    /* position: fixed; */
}
.logo{
    width: 170px;
    /* height: ; */
    /* border: 1px solid red; */
    margin-left: 100px;
}
.navigation ul{
    display: flex;

}
.navigation ul li{
    list-style-type: none;
}
.navigation ul li a{
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin: 0 50px;
    transition: .2s ease-in-out;
}
.navigation ul li a:hover{
    color: red;
}
.main{
    width: 100%;
    height: 83vh;
    /* border: 1px solid red; */
    background: url("main_bg.png") no-repeat;
    background-size: cover;
}
.theme{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    height: 18vh;
    /* border: 1px solid red; */
}
.theme p{
    
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}
.text{
    width: 100%;
    height: 20vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.text p{

    font-size: 50px;
    color: white;
    font-weight: 700;
    width: 900px;
    text-align: center;
}
.text_2{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.text_2 p{
    font-size: 25px;
    color: white;
    font-weight: 500;
    width: 900px;
    text-align: center;
}
.btns{
    display: flex;
    align-items:flex-end ;
    justify-content: space-around;
    width: 38%;
    height: 10vh;
    margin: 0 auto;
}
.btns .btn1{letter-spacing: 2px;
    width: 250px;
    height: 70px;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    color: white;
    font-size: 25px;
    background: #FA4A0C;
}
.btns .btn2{letter-spacing: 2px;
    width: 250px;
    height: 70px;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    color: white;
    font-size: 25px;
    background: none;
    border: 2px solid white;
    transition: .2s ease-in-out;
}
.btns .btn2:hover{
    cursor: pointer;
    background: #FA4A0C;
    border: none;
}
.wh{
    position: absolute;
    top: 650px;
    left: 700px;
    transition: .2s ease-in-out;
}
/* .wh:hover{
    transform: scale(1.2);
}
.bk:hover{
    transform: scale(1.2);
} */
.bk{
    position: absolute;
    top: 430px;
    left: 350px;
    transition: .2s ease-in-out;
}
.phone_cont{
    /* background: black;  */
    width: 60%;
    height: 600px;
    border-bottom: 5px solid #E4E4E4;
    /* border-radius: 50%; */
    margin: 0 auto;
}
.services{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.services .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    /* border: 1px solid red; */
}
.services .header p{
    font-weight: 700;
    font-size: 55px;
    color: #000;
    opacity: 0.8;
}
.services .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    border-bottom: 3px solid #fa4b0c7d;
    /* border: 1px solid red; */
}
.box .phone{
    display: flex;

    width: 40%;
    height: 100vh;
    /* border: 1px solid red; */
}
.phone img{
    transition: .3s ease-in-out;
    margin-left:60px;
}
.phone img:hover{
    transform: scale(1.1);
}
.box .box_text{
    width: 60%;
    height: 100vh;
    /* border: 1px solid red; */
}
.box_text .text_1{
    /* margin: 20px; */
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    margin-top: 200px;

}
.box_text .text_1 p{
    margin: 40px;
    font-weight: 700;
    color: #FA4A0C;
    font-size: 30px;
    margin-left: 120px;

}




.box_text .txt{
    width: 100%;
    height: 200px;
    /* border: 1px solid red;   */

}
.box_text .txt p{
    font-weight: 700;
    color: #252B42;
    font-size: 40px;
    margin-left: 120px;


}
.box_text .txt p{
    font-weight: 700;
    color: #252B42;
    font-size: 40px;
    width: 500px;
    /* margin-left: 200px; */
}





.box_text .text_3{
    width: 100%;
    height: 200px;
    /* border: 1px solid red; */
    margin-left: 120px;

}
.box_text .text_3 p{
    color: #252B42;
    font-size: 25px;
    text-align: left;
    color:#737373 ;
    font-weight: 400;

}
.footer{
    width: 100%;
    height: 70vh;
    /* border: 1px solid red; */
    background: url("footer_bg.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.name{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    height: 25vh;
    /* border: 1px solid red; */
}
.name p{
    font-size: 60px;
    color: white;
    font-weight: 700;
}
.paragraff{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    /* border: 1px solid red; */
}
.paragraff p{
    font-weight: 500;
    font-size: 25px;
    opacity: 0.8;
    color: white;
}
.footer1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30vh;
    background:#fff ;
}

























































@media only screen and (min-width: 2000px) {
    .bk{
        top: 580px;
        left: 540px;
    }
    .wh{
        top: 800px;
        left: 900px;
    }
  }


